<!DOCTYPE html>
html
    head
        title #{pageTitle}
        script(src="https://kit.fontawesome.com/cf7d6be083.js")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer