extends layouts/main

block content
    .from__container
        form(action=routes.editProfile(loggedUser.id), method="post")
            input(type="text", name="name", placeholder="Full Name", value=loggedUser.name)
            input(type="email", name="email", placeholder="E-Mail", value=loggedUser.email)
            input(type="password" name="password1" placeholder="Old Password")
            input(type="password" name="password2" placeholder="New Password")
            input(type="text", name="location", placeholder="Location")
            input(type="submit", value="Edit")