extends layouts/main

block content
    .home__wrapper
        img(src="../assets/mainImg.jpg", alt="basketball img")
        .text__wrapper Players, Play us!<br />함께 운동하세요
        .btn__wrapper
            a(href=routes.recruit) 참여하기
            a(href=`recruit${routes.uploadRecruit}`) 모집하기
