extends layouts/main

block content
    .recruits
        each recruit in recruits
            a.recruit_container(href=routes.recruitDetail(recruit.id))
                h1=recruit.title
                h3=recruit.playTime
                h3=recruit.location
